name: brbsix.github.io
title: brbsix.github.io
description: 'by Six'
meta_description: 'open source life'

# markdown: kramdown
# kramdown:
#   input: GFM  # Enable GitHub Flavored Markdown (fenced code blocks)

markdown: redcarpet
redcarpet:
  extensions: ['smart', 'tables', 'no_intra_emphasis', 'fenced_code_blocks', 'autolink', 'strikethrough', 'superscript', 'with_toc_data']

highligher: true
paginate: 100
timezone: America/Los_Angeles
future: true

# Details for the RSS feed generator
url: 'http://brbsix.github.io'
baseurl: '/'

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink: /:year/:month/:day/:title/

author:
  name: Six
  avatar: /assets/images/avatar.png
  email: brbsix@gmail.com
  github: brbsix
  stackoverflow: users/4117209/six

disqus_shortname: brbsix
google_analytics: UA-58772616-1

mailchimp:
  subscribe: //github.us12.list-manage.com/subscribe/post?u=bf693d7fc1edc4b69e240d26e&amp;id=9e419f8045
  unsubscribe: http://github.us12.list-manage.com/unsubscribe?u=bf693d7fc1edc4b69e240d26e&amp;id=9e419f8045

compress_html:
  clippings: all
  comments:  ['<!-- ', ' -->']
  endings:   all

exclude:
  - 'bower_components'
  - 'bower.json'
  - 'Gemfile'
  - 'Gemfile.lock'
  - 'gulpfile.js'
  - 'LICENSE'
  - 'node_modules'
  - 'package.json'
  - 'README.md'
  - 'vendor'

gems:
  - 'jekyll-paginate'

collections:
  short_urls:
    output: true
    permalink: '/p/:path/'

defaults:
  -
    scope:
      path: ''  # empty string for all files
      type: short_urls
    values:
      layout: redirect
