<div id="mc_embed_signup" class="signup-form-horiz">
    <form action="//radek.us10.list-manage.com/subscribe/post?u=8aed428a847b6d5b297a928ba&amp;id=a6058b8be5"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate" target="_blank">
        <div id="mc_embed_signup_scroll" class="signup-form-horiz-list-wrapper">
            {% if include.head %}<h4>{{ include.head }}</h4>{% endif %}
            <ul>
            <li class="mc-field-group">
                <label for="mce-FNAME">First Name:</label>
                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
            </li>
            <li class="mc-field-group">
                <label for="mce-EMAIL">Email Address:</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
            </li>
            <li class="mc-field-group">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-horiz">
            </li>
            </ul>
            <div class="conditions">
                I won't send you any spam. <a href="http://radek.us10.list-manage2.com/unsubscribe?u=8aed428a847b6d5b297a928ba&id=a6058b8be5">Unsubscribe</a> at any time.
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_8aed428a847b6d5b297a928ba_a6058b8be5" tabindex="-1" value="">
            </div>
        </div>
    </form>
</div>
