/* Rosario. I've added and changed few things. Feel free to change it as you like */

.site-head a { text-decoration: none; }

/* Reduce font size and add line-height*/
pre{
	font-size: 0.75em;
	line-height: 1.4em;
}

/* Author styling */
.author {margin-bottom: 2em;}
.author header{
	float:left;
	width: 80px;
}
.author article{
	margin-left:80px;
	min-height: 80px;
	padding-left:20px;
}
img.profile {
	width:80px;
	height:auto;
  	border-radius: 50px;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.align-center {
  text-align: center;
  margin: auto;
}

figure {
  display: block;
  width: 100%;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  *zoom: 1;
}
figure:before,
figure:after {
  display: table;
  content: "";
  line-height: 0;
}
figure:after {
  clear: both;
}
figure img {
  margin-bottom: 10px;
}

figure.full img {
    width: 50%;
}

@media only screen and (min-width: 62.5em) {
  figure.half img {
    width: 340px;
    float: left;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}
@media only screen and (min-width: 62.5em) {
  figure.third img {
    width: 200px;
    float: left;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}

figcaption {
  padding-top: 10px;
  font-size: 0.7em;
  line-height: 1.3;
  color: #3c3c3c;
  text-align: center;
}
