<html>
    <head>
        <meta http-equiv="refresh" content="0; target={{ page.target | prepend: site.url }}" />
        <title>Redirecting to {{ page.target | prepend: site.url }}</title>
        <script type="text/javascript">
            window.location.href = "{{ page.target | prepend: site.url }}";
        </script>
    </head>
    <body>
        Redirecting to <a href="{{ page.target | prepend: site.url }}">{{ page.target | prepend: site.url }}</a>. Please
        follow link if your browser doesn't redirect you automatically.
    </body>
</html>
